version: "3.3"

volumes:
  db-data:
  certs:
  nginx-conf:

services:
  typebot-db:
    image: postgres:16
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=typebot
      - POSTGRES_PASSWORD=typebot
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  typebot-builder:
    image: shulmnn/typebot-builder:latest
    restart: always
    depends_on:
      typebot-db:
        condition: service_healthy
    ports:
      - "3000:3000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file: .env

  typebot-viewer:
    image: shulmnn/typebot-viewer:latest
    depends_on:
      typebot-db:
        condition: service_healthy
    restart: always
    ports:
      - "3001:3000"
    env_file: .env

  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx-conf:/etc/nginx/conf.d:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - typebot-builder
      - typebot-viewer

  certbot:
    image: certbot/certbot
    volumes:
      - certs:/etc/letsencrypt
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    depends_on:
      - nginx
    environment:
      - NGINX_HOST=chat.citasvirtualesenlinea.info,bot.citasvirtualesenlinea.info
    restart: "no"

  certbot-init:
    image: certbot/certbot
    volumes:
      - ./certs:/etc/letsencrypt
    entrypoint: "/bin/sh -c 'certbot certonly --standalone --agree-tos --no-eff-email --email shulmnn@gmail.com --domains chat.citasvirtualesenlinea.info,bot.citasvirtualesenlinea.info && nginx -s reload'"
    depends_on:
      - nginx
    environment:
      - NGINX_HOST=chat.citasvirtualesenlinea.info,bot.citasvirtualesenlinea.info
    restart: "no"
